<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="example">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/</directory>
        </whitelist>
    </filter>
    <php>
        <const name="DB_HOST" value="localhost"/>
        <const name="DB_NAME" value="student"/>
        <const name="DB_USER" value="fred"/>
        <const name="DB_PASS" value="smith"/>
    </php>
</phpunit>
