body {
    background-color: #c8c5a9;
    /*background-image: url("../images/karate.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    /*background-attachment: fixed;*/

}


footer {
    /*margin-top: 30%;*/
    border-bottom: 0.1rem solid black;
    padding: 1.5rem;
    text-align: center;
    background-color: #70ee4b;
}
table {
    border: 0.1px black solid;
}
td {
    border: 0.1px black solid;
}
.info{
    display: block;
    width:50%;
    margin-left:25%;
    text-align: center;

}

