body {
    background-color: #c8c5a9;
}

footer {
    border-bottom: 0.1rem solid black;
    padding: 1.5rem;
    text-align: center;
    background-color: #70ee4b;
}
table {
    border: 0.1px black solid;
}
td {
    border: 0.1px black solid;
}