<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Martial Arts Club {% block title %}{% endblock %}</title>
    <style>
        @import "/../css/style.css";
        @import "/../css/nav.css";
    </style>
</head>
<body>


{% block main %}
    {% if message is defined %}
        {{ message }}
    {% endif %}
    <h3>Belts</h3>
    {% for belt in belts %}
        <ul>
            <li>{{ belt.colour}}</li>
        </ul>
        <form action="/beltInfo" method="post">

            <input type="hidden" value={{ belt.colour }} name="color">
            <input type="submit" value="View Classes needed for this belt colour">

        </form>
        {% endfor %}


{% endblock %}