{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Class List
{% endblock %}

{# ----------------------------------------#}
{% block daysNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}

    {% if days %}

        {% set num_days = days | length %}

        <p>
            Here are the class on this week
        </p>

        <ul>
            {% for day in days %}
                <li>
                    {{ day }}
                </li>
            {% endfor %}
        </ul>

    {% else %}

        <p>
            empty array - there are no days in the week!
        </p>

    {% endif %}

{% endblock %}
