{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Class List
{% endblock %}

{# ----------------------------------------#}
{% block daysNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}

    <p>does this work??</p>

{% endblock %}
