{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Class List
{% endblock %}

{# ----------------------------------------#}
{% block daysNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}
    <p>The classes for this week are as follows:</p>


    {% for techniques in techniques %}

        <ul>
            <li> {{ techniques.description }}</li>
        </ul>

    {% endfor %}
    <p>They will run from : 7am - 8:30am, 6pm - 8pm on weekdays</p>

    <p>7am - 9am , 12pm - 2pm, 4pm - 6pm on weekends</p>

{% endblock %}
