{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Class List
{% endblock %}

{# ----------------------------------------#}
{% block daysNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}
    {#<p>The classes for this week are as follows:</p>#}
    {#{% for day in days %}#}

        {#<ul>#}
            {#<li>{{ day }}</li>#}
        {#</ul>#}

    {#{% endfor %}#}
    {#<p>The run on the hour every hour from 10am -> 7pm:</p>#}

{% endblock %}
