{% extends '_base.html.twig' %}

{% block pageTitle %}insert page{% endblock %}

{# ------------------------------------------------- #}
{% block adminNavStyle %}current_page{% endblock %}


{% block main %}
       <h2>something here?</h2>
        {{ student.id }}
{% endblock %}