{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Home page
{% endblock %}

{# ----------------------------------------#}
{% block indexNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}
    <h1 class="info">Welcome to the Martial arts Attendance System</h1>


    <p class="info">
        We welcome a diversity of people, talents & experiences.
        We train in a safe & controlled environment with emphasis on
        health, fitness, personal developement, & of course 'fun'.
        All our instructors hold Certificates in Coaching,
        which are recognised by the Irish Sports Council.
        All instructors are qualified in First Aid & are trained in the
        Code of Ethics & Good Practise for Children in Sport.
    </p>


{% endblock %}
