{% extends '_base.html.twig' %}

{# ----------------------------------------#}
{% block title %}
    Home page
{% endblock %}

{# ----------------------------------------#}
{% block indexNavStyle %}current_page{% endblock %}

{# ----------------------------------------#}
{% block main %}
    <h1 class="info">Welcome to the Martial arts Attendance System</h1>


    <p class="info">
        PHP dojo is the place where you go to seek enlightenment, a martial arts dojo that is committed to delivering high
        of hard training and learning from a variety of superb teachers.<br>
        We get->Students and set->quality teaching in a variety of martial arts techniques.
        We offer a unique style of proper martial art training backed up by
        modern knowledge of body mechanics and methods of teaching designed to increase mobility, flexibility, awareness, skill and technique.
        All we can ask is that you try it, but I guarantee that you won't be disappointed!
    </p>


{% endblock %}
