{% extends '_base.html.twig' %}

{% block pageTitle %}{% endblock %}

{% block main %}
    <p>
        {{ message }}
    </p>


    <a href="/admin"><input type="button" value="Back to Admin"> </a>

{% endblock %}