{% extends '_base.html.twig' %}

{% block main %}

    <h1>New Student Form</h1>

    <form action="create" method="post">
        <h1>Create New Module</h1>

        <h3>username</h3>
        <p><input type="text" name="username" placeholder="username" required autofocus></p>

        <h3>password</h3>
        <p><input type="text" name="password" placeholder="password" required ></p>

        <h3>date</h3>
        <p><input type="date" name="joined" placeholder="date joined" required ></p>

        <h3>last grade</h3>
        <p><input type="text" name="lastGrade" placeholder="last grade" ></p>

        <h3>current grade</h3>
        <p><input type="text" name="currentGrade" placeholder="current grade" ></p>

        <input type="submit" value="Create new Student">
    </form>



{% endblock %}